body {
  margin: 0;
}

.header {
  --header-title-line-bg-shift: 8px;
  --header-title-line-bg-margin: -16px;
  --header-title-target-size: 4vw;
  --header-title-font-size: clamp(1.5rem, 4vw, 4rem);

  position: relative;
  background: center center / 100% 100% no-repeat
    url("../images/home/header/bg.svg");
  font: 700 60px Futura;
  color: white;
  height: 660px;
  padding: 24px;

  .logo {
    font-size: 30px;
    letter-spacing: normal;
    margin-bottom: 16px;
  }

  .title {
    position: absolute;
    bottom: 120px;
    left: 15%;
    font-size: var(--header-title-font-size);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 0;

    &::before {
      content: "";
      position: relative;
      background: url("../images/home/header/icon-yellow.svg") no-repeat;
      width: var(--header-title-target-size);
      height: var(--header-title-target-size);
      margin-left: calc(-1 * var(--header-title-target-size));
    }

    .title-line {
      position: relative;
      background-color: black;
      padding: 8px;

      .title-animation {
        display: inline-block;
        overflow: hidden;
        vertical-align: bottom;
      }

      .title-emphasis {
        color: #f32393;
        display: inline-block;
      }

      &::before {
        content: "";
        position: absolute;
        margin-top: var(--header-title-line-bg-margin) / 2;
        margin-left: var(--header-title-line-bg-margin) / 2;
        background-color: white;
        transform: translate(
          var(--header-title-line-bg-shift),
          var(--header-title-line-bg-shift)
        );
        width: 100%;
        height: 100%;
        z-index: -1;
      }
    }
  }

  .team-images {
    background: url("../images/home/header/dash.svg") no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top: 72px;
    width: 55%;
    height: 488px;
    left: 30%;

    .img1,
    .img2,
    .img3,
    .crop-mark {
      position: absolute;
      height: auto;
    }

    .img1 {
      width: 60%;
      max-width: 577px;
      left: 3%;
      top: 16%;
    }

    .img2 {
      width: 35%;
      right: 11%;
      top: 3%;
    }

    .img3 {
      height: 42%;
      right: 3%;
      bottom: 4%;
    }

    .crop-mark {
      top: -5%;
      right: 6%;
    }
  }
}

.content {
  --content-intro-font-size: clamp(1rem, 2.5vw, 2.5rem);
  --content-intro-text-padding: 10px;
  --content-intro-border-font-size: 3em;
  --content-intro-border-padding: 0.5em;
  --content-intro-border-background-size: 1px 100%, 100% 1px, 1px 100%, 100% 1px;
  --content-intro-border-background-img: repeating-linear-gradient(
    0deg,
    var(--clr-border),
    var(--clr-border) 8px,
    transparent 0px,
    transparent 17px
  );
  --clr-border: rgb(138, 135, 135);
  --content-mission-text-title-font-size: clamp(1.5rem, 2vw, 2rem);
  --content-mission-text-content-font-size: clamp(1rem, 1.5vw, 1.5rem);
  position: relative;

  .introduction {
    font: 24px Roboto;
    margin: 70px auto;
    width: 70%;
    font-size: var(--content-intro-font-size);

    img {
      width: 47px;
    }

    .text-border {
      position: relative;
      padding: var(--content-intro-text-padding) 0
        var(--content-intro-text-padding) 0;

      .intro-text {
        margin: var(--content-intro-text-padding);
      }

      .focus {
        color: #f32393;
      }

      &::before {
        position: absolute;
        content: "";
        left: -4%;
        font-size: var(--content-intro-border-font-size);
        padding: var(--content-intro-border-padding);
        background-size: var(--content-intro-border-background-size);
        background-repeat: no-repeat;
        background-image: var(--content-intro-border-background-img);
        transform: rotate(90deg);
      }

      &::after {
        position: absolute;
        content: "";
        left: -4%;
        font-size: var(--content-intro-border-font-size);
        padding: var(--content-intro-border-padding);
        background-size: var(--content-intro-border-background-size);
        background-repeat: no-repeat;
        background-image: var(--content-intro-border-background-img);
        transform: rotate(90deg);
      }
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      top: 0;
      left: 14%;
      height: 72%;
      font-size: var(--content-intro-border-font-size);
      padding: var(--content-intro-border-padding);
      background-size: var(--content-intro-border-background-size);
      background-repeat: no-repeat;
      background-image: var(--content-intro-border-background-img);
    }
  }

  .mission {
    position: absolute;
    margin-left: 14%;

    .mission-title {
      background: url("../images/home/content/mission/carrés.png") no-repeat;
      background-size: 100% 45%;
      position: absolute;
      padding-right: 80px;

      p {
        position: relative;
        bottom: 85px;
        font: 43px FuturaEF-Bold;
        color: #414141;
      }

      &::before {
        content: "";
        background-image: url("../images/home/content/mission/icon-location-arrow.png");
        background-size: 100%;
        background-repeat: no-repeat;
        display: inline-block;
        width: 20%;
        height: 60px;
        right: 56px;
        top: 16px;
        position: relative;
      }

      &::after {
        content: "";
        position: absolute;
        right: 100%;
        top: 46%;
        font-size: 96px;
        padding: 1em;
        background-size: var(--content-intro-border-background-size);
        background-repeat: no-repeat;
        background-image: var(--content-intro-border-background-img);
        transform: rotate(180deg);
      }
    }

    .mission-content {
      position: relative;
      display: flex;
      top: 112px;

      .mission-text {
        margin-left: 24px;
        font: 32px Roboto;
        width: 50%;

        .mission-text-title {
          font-weight: 550;
          font-size: var(--content-mission-text-title-font-size);
          margin-top: 8px;
          display: block;
        }

        .mission-text-content {
          font-size: var(--content-mission-text-content-font-size);
        }

        &::before {
          position: absolute;
          content: "";
          border-radius: 0px 10px 10px 0px;
          background: #56f28c;
          padding: 20px;
          width: 20%;
          left: -30%;
        }
      }

      .mission-image {
        margin-left: 10%;
        
        .first-mission {
          .img-1 {
            height: auto;
            width: 90%;
            transform: rotate(-6deg);
            max-width: 577px;
          }

          &::before {
            position: absolute;
            content: "";
            background: transparent linear-gradient(180deg, #30D897 0%, #56F28C 100%) 0% 0% no-repeat padding-box;
            width: 30%;
            height: 58%;
            transform: translate(-24px);
          }

          &::after {
            content: "";
            position: absolute;
            background: url("../images/home/content/mission/icon-arrow.svg") no-repeat;
            height: 35%;
            width: 10%;
            top: 83%;
            right: 31%;
          }
        }
      }
    }
  }
}

/* Desktop styles */
@media (min-width: 1025px) {
  .header {
    .title {
      .mobile {
        display: none;
      }
    }
  }

  .content {
    .introduction {
      &::after {
        height: 52%;
      }
    }
  }
}

/*Tablet styles*/
@media (min-width: 700px) and (max-width: 1024px) {
  .header {
    --header-title-target-size: 6vw;
    --header-title-font-size: 8vw;

    .title {
      bottom: 150px;
      left: 10%;

      .mobile {
        display: none;
      }
    }

    .team-images {
      width: 72%;
      height: 344px;
      left: 20%;
    }
  }

  .content {
    .mission {
      .mission-content {
        .mission-image {
          .first-mission {
            &::after {
              height: 36%;
              width: 19%;
              max-height: 500px;
              top: 84%;
              right: 37%;
            }
          }
        }
      }
    }
  }
}

/*Mobile styles*/
@media (max-width: 699px) {
  .header {
    --header-title-target-size: 6vw;
    --header-title-font-size: 11vw;
    padding: 30px;
    display: flex;
    flex-direction: column;
    height: auto;

    .logo {
      font-size: 15px;
    }

    .title {
      order: 1;
      position: relative;
      bottom: unset;
      left: unset;
      margin-bottom: 5px;

      .desktop {
        display: none;
      }

      .title-line {
        margin-bottom: 15px;
        padding: 14px;

        &::before {
          margin-top: var(--header-title-line-bg-margin);
          margin-left: var(--header-title-line-bg-margin);
        }
      }
    }

    .team-images {
      order: 2;
      position: relative;
      width: 100%;
      top: unset;
      left: unset;
      right: unset;
      height: 175px;

      .img1 {
        max-width: 300px;
      }

      .crop-mark {
        top: unset;
        right: unset;
        bottom: 5%;
        left: -5%;
      }
    }
  }

  .content {
    .introduction {
      img {
        width: 37px;
        margin-left: var(--content-intro-text-padding);
      }
    }

    .mission {
      .mission-title {
        p {
          font: 26px FuturaEF-Bold;
          bottom: 68px;
          left: 8px;
        }
        &::before {
          right: 24px;
        }

        &::after {
          display: none;
        }
      }

      .mission-content {
        flex-direction: column;
        .mission-text {
          &::before {
            width: 18%;
          }
        }

        .mission-image {
          .first-mission {
            margin-top: 20px;

            &::before {
              transform: translate(-14px);
              width: 40%;
              height: 35%;
            }

            &::after {
              height: 26%;
              width: 70%;
              top: 87%;
            }
          }
        }
      }
    }
  }
}
