body {
  margin: 0;
  .wrapper {
    position: relative;
    overflow-x: hidden;
    height: 100%;
    width: 100%;
  }
}

.header {
  --header-title-line-bg-shift: 8px;
  --header-title-line-bg-margin: -16px;
  --header-title-target-size: 4vw;
  --header-title-font-size: clamp(1.5rem, 4vw, 4rem);

  position: relative;
  background: center center / 100% 100% no-repeat
    url("../images/home/header/bg.svg");
  font: 700 60px Futura;
  color: white;
  height: 660px;
  padding: 24px;

  .logo {
    font-size: 30px;
    letter-spacing: normal;
    margin-bottom: 16px;
  }

  .title {
    position: absolute;
    bottom: 120px;
    left: 15%;
    font-size: var(--header-title-font-size);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 0;

    &::before {
      content: "";
      position: relative;
      background: url("../images/home/header/icon-yellow.svg") no-repeat;
      width: var(--header-title-target-size);
      height: var(--header-title-target-size);
      margin-left: calc(-1 * var(--header-title-target-size));
    }

    .title-line {
      position: relative;
      background-color: black;
      padding: 8px;

      .title-animation {
        display: inline-block;
        overflow: hidden;
        vertical-align: bottom;
      }

      .title-emphasis {
        color: #f32393;
        display: inline-block;
      }

      &::before {
        content: "";
        position: absolute;
        margin-top: var(--header-title-line-bg-margin) / 2;
        margin-left: var(--header-title-line-bg-margin) / 2;
        background-color: white;
        transform: translate(
          var(--header-title-line-bg-shift),
          var(--header-title-line-bg-shift)
        );
        width: 100%;
        height: 100%;
        z-index: -1;
      }
    }
  }

  .team-images {
    background: url("../images/home/header/dash.svg") no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top: 72px;
    width: 55%;
    height: 488px;
    left: 30%;

    .img1,
    .img2,
    .img3,
    .crop-mark {
      position: absolute;
      height: auto;
    }

    .img1 {
      width: 60%;
      max-width: 577px;
      left: 3%;
      top: 16%;
    }

    .img2 {
      width: 35%;
      right: 11%;
      top: 3%;
    }

    .img3 {
      height: 42%;
      right: 3%;
      bottom: 4%;
    }

    .crop-mark {
      top: -5%;
      right: 6%;
    }
  }
}

.content {
  --content-intro-font-size: clamp(1rem, 2vw, 2rem);
  --content-intro-text-padding: 10px;
  --content-intro-border-font-size: 3em;
  --content-intro-border-padding: 0.5em;
  --content-intro-border-background-size: 1px 100%, 100% 1px, 1px 100%, 100% 1px;
  --content-intro-border-background-img: repeating-linear-gradient(
    0deg,
    var(--clr-border),
    var(--clr-border) 10px,
    transparent 0px,
    transparent 17px
  );
  --clr-border: rgb(138, 135, 135);

  --content-mission-title-font-size: clamp(1.5rem, 2.2vw, 2.2rem);
  --content-mission-text-title-font-size: clamp(1.2rem, 1.7vw, 1.7rem);
  --content-mission-text-content-font-size: clamp(1rem, 1.5vw, 1.5rem);
  position: relative;

  .introduction {
    font: 300 24px/48px Roboto, roboto, Helvetica Neue, sans-serif;
    margin: 70px auto;
    width: 70%;
    font-size: var(--content-intro-font-size);

    img {
      width: 47px;
    }

    .text-border {
      position: relative;
      padding: var(--content-intro-text-padding) 0
        var(--content-intro-text-padding) 0;

      .intro-text {
        margin: var(--content-intro-text-padding);
      }

      .focus {
        color: #f32393;
      }

      &::before,
      &::after {
        position: absolute;
        content: "";
        left: -4%;
        font-size: var(--content-intro-border-font-size);
        padding: var(--content-intro-border-padding);
        background-size: var(--content-intro-border-background-size);
        background-repeat: no-repeat;
        background-image: var(--content-intro-border-background-img);
        transform: rotate(90deg);
      }
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      top: 0;
      left: 14%;
      height: 60%;
      font-size: var(--content-intro-border-font-size);
      padding: var(--content-intro-border-padding);
      background-size: var(--content-intro-border-background-size);
      background-repeat: no-repeat;
      background-image: var(--content-intro-border-background-img);
    }
  }

  .mission {
    position: absolute;
    margin-left: 14%;
    height: 500px;

    .mission-title {
      background: url("../images/home/content/mission/carrés.png") no-repeat;
      background-size: 100% 45%;
      position: absolute;
      padding-right: 80px;

      p {
        position: relative;
        bottom: 85px;
        font: 43px FuturaEF-Bold;
        font-size: var(--content-mission-title-font-size);
        color: #414141;
        padding-left: 8px;
        margin-top: 48px;
      }

      &::before {
        position: relative;
        content: "";
        display: inline-block;
        background-image: url("../images/home/content/mission/icon-location-arrow.png");
        background-size: 100%;
        background-repeat: no-repeat;
        width: 20%;
        height: 60px;
        right: 30px;
        top: 16px;
      }

      &::after {
        position: absolute;
        content: "";
        background-size: var(--content-intro-border-background-size);
        background-repeat: no-repeat;
        background-image: var(--content-intro-border-background-img);
        right: 100%;
        top: 46%;
        height: 80%;
        font-size: 96px;
        padding: 1em;
        transform: rotate(180deg);
      }
    }

    .mission-content {
      position: relative;
      display: flex;
      top: 112px;

      .mission-text-1,
      .mission-text-2,
      .mission-text-3 {
        margin: 0 0 24px 24px;
        width: 80%;

        .mission-text-title-1,
        .mission-text-title-2,
        .mission-text-title-3 {
          font: 300 32px/60px Roboto, roboto, Helvetica Neue, sans-serif;
          font-weight: 500;
          font-size: var(--content-mission-text-title-font-size);
          margin-top: 8px;
          display: block;
          color: grey;
          animation: title 15s ease infinite;
        }

        @keyframes title {
          0% {
            color: grey;
          }
          5% {
            color: black;
          }
          33% {
            color: black;
          }
          38% {
            color: grey;
          }
          100% {
            color: grey;
          }
        }
        .mission-text-title-1 {
          animation-delay: 0s;
        }
        .mission-text-title-2 {
          animation-delay: 5s;
        }
        .mission-text-title-3 {
          animation-delay: 10s;
        }

        @keyframes content {
          0% {
            height: 0;
            opacity: 0;
          }
          10% {
            height: 100px;
            visibility: visible;
            opacity: 1;
          }
          33% {
            height: 100px;
            visibility: visible;
            opacity: 1;
          }
          38% {
            height: 0;
            opacity: 0;
          }
          100% {
            height: 0;
            opacity: 0;
          }
        }

        .mission-text-content-1,
        .mission-text-content-2,
        .mission-text-content-3 {
          display: inline-block;
          font: 300 24px/32px Roboto, roboto, Helvetica Neue, sans-serif;
          font-size: var(--content-mission-text-content-font-size);
          animation: content 15s ease infinite;
        }

        .mission-text-content-1 {
          visibility: hidden;
          height: 0;
          animation-delay: 0s;
        }
        .mission-text-content-2 {
          visibility: hidden;
          height: 0;
          animation-delay: 5s;
        }
        .mission-text-content-3 {
          visibility: hidden;
          height: 0;
          animation-delay: 10s;
        }

        &::before {
          position: absolute;
          content: "";
          border-radius: 0px 10px 10px 0px;
          padding: 20px;
          width: 20%;
          left: -30%;
          margin-top: 12px;
        }
      }

      @keyframes tag {
        0% {
          width: 12%;
        }
        5% {
          width: 20%;
        }
        33% {
          width: 20%;
        }
        38% {
          width: 12%;
        }
        100% {
          width: 12%;
        }
      }

      .mission-text div::before {
        width: 12%;
        animation: tag 15s ease infinite;
      }

      .mission-text .mission-text-1::before {
        background: #56f28c;
        animation-delay: 0s;
      }
      .mission-text .mission-text-2::before {
        background: #36d4f2;
        animation-delay: 5s;
      }
      .mission-text .mission-text-3::before {
        background: #e945c1;
        animation-delay: 10s;
      }

      .mission-image {
        .img-2,
        .img-3 {
          visibility: hidden;
        }

        .img-1 img,
        .img-2 img,
        .img-3 img {
          position: absolute;
          width: 50%;
          height: auto;
          transform: rotate(-6deg);
        }

        .img-1::before,
        .img-2::before,
        .img-3::before {
          position: absolute;
          content: "";
          width: 32%;
          height: 60%;
          transform: translate(-24px);
        }

        .img-2::before {
          background: transparent
            linear-gradient(180deg, #259de8 0%, #36d4f2 100%) 0% 0%;
        }
        .img-1::before {
          background: transparent
            linear-gradient(180deg, #30d897 0%, #56f28c 100%) 0% 0%;
        }
        .img-3::before {
          background: transparent
            linear-gradient(180deg, #f918a1 0%, #e945c1 100%) 0% 0%;
        }

        .img-1::after,
        .img-2::after,
        .img-3::after {
          position: absolute;
          content: "";
          display: block;
          height: 25%;
          width: 10%;
          bottom: 46px;
          margin-left: -18px;
        }

        .img-1::after {
          background: url("../images/home/content/mission/icon-arrow.svg") no-repeat;
        }
        .img-2::after {
          background: url("../images/home/content/mission/code.svg") no-repeat;
        }
        .img-3::after {
          background: url("../images/home/content/mission/compas.svg") no-repeat;
        }
      }

      @keyframes show {
        0% {
          opacity: 0;
          visibility: hidden;
        }
        5% {
          opacity: 1;
          visibility: visible;
        }
        33% {
          opacity: 1;
          visibility: visible;
        }
        38% {
          opacity: 0;
          visibility: hidden;
        }
        100% {
          opacity: 0;
          visibility: hidden;
        }
      }
      @keyframes slider {
        0% {
          transform: translateX(100%);
        }
        10% {
          transform: translateX(0%);
          transform: rotate(-10deg);
        }
        13% {
          transform: rotate(-6deg);
        }
        33% {
          transform: translateX(0%);
          transform: rotate(-6deg);
        }
        38% {
          transform: translateX(100%);
        }
        100% {
          transform: translateX(100%);
        }
      }

      .mission-image div {
        animation: show 15s ease infinite;
      }

      .mission-image div.img-1 {
        animation-delay: 0s;
      }
      .mission-image div.img-2 {
        animation-delay: 5s;
      }
      .mission-image div.img-3 {
        animation-delay: 10s;
      }

      .mission-image div img {
        animation: slider 15s ease infinite;
      }

      .mission-image div.img-1 img {
        animation-delay: 0s;
      }
      .mission-image div.img-2 img {
        animation-delay: 5s;
      }
      .mission-image div.img-3 img {
        animation-delay: 10s;
      }
    }
  }

  .our-team {
    display: none;
    background: url("../images/home/content/team/bg-black.svg");
    background-repeat: repeat-y;
    background-size: 100%;
    height: auto;
    width: 100%;
    display: block;
    position: absolute;
    top: 53em;
    z-index: -1;

    .team-title {
      display: flex;
      margin-top: 72px;
      margin-left: 72px;

      .title-border {
        margin-left: 25px;
        .title-text {
          color: #ffffff;
          font: normal normal bold 43px/31px FuturaEF-Bold;
          font-size: var(--content-mission-title-font-size);
          padding-top: 14px;
          padding-bottom: 14px;
        }

        &::before,
        &::after {
          position: absolute;
          content: "";
          font-size: 30em;
          padding: var(--content-intro-border-padding);
          background-size: var(--content-intro-border-background-size);
          background-repeat: no-repeat;
          background-image: var(--content-intro-border-background-img);
          transform: rotate(90deg);
        }
      }

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        top: 5%;
        left: 580px;
        height: 10%;
        font-size: 0.2em;
        padding: var(--content-intro-border-padding);
        background-size: var(--content-intro-border-background-size);
        background-repeat: no-repeat;
        background-image: var(--content-intro-border-background-img);
      }
}

    .team-sub-title {
      margin-left: 170px;
      margin-top: 32px;
      width: 70%;
      color: #ffffff;
      font: normal normal 300 24px/31px Roboto;
      font-size: clamp(1.2rem, 1.7vw, 1.7rem);
    }

    .team-presentation {
      padding: 100px 72px 72px 72px;
      display: block;

      .container {
        width: 100%;
        height: 100%;
        display: block;
        overflow: hidden;
      }
      .carousel {
        display: block;
        width: 100%;
        overflow-x: scroll;
        padding: 10px;
        margin: 0;
        white-space: nowrap;
        border-top: 2px solid rgba(0, 0, 0, 0.1);
        border-bottom: 2px solid rgba(0, 0, 0, 0.1);
      }

      .item {
        display: inline-block;
        width: 300px;
        margin: 0 10px;
        background: rgba(0, 0, 0, 0.05) no-repeat center center;
        background-size: cover;
        position: relative;

        .person-photo {
          .first-photo {
            left: 0;
            position: absolute;
          }

          &::after {
            position: absolute;
            content: "";
            display: block;
            background: url("../images/home/content/team/cat.svg") no-repeat;
            width: 30%;
            height: 100px;
            bottom: 23%;
            right: 6%;
          }
        }

        .person-details {
          margin-top: 32px;
          font: 24px/31px Roboto;
          color: white;
          padding-top: 32px;
          padding-bottom: 32px;
          background-position: 0 0, 0 0, 100% 0, 0 100%;
          background-size: 2px 100%, 100% 2px, 2px 100%, 100% 3px;
          background-repeat: no-repeat;
          background-image: repeating-linear-gradient(
              0deg,
              var(--clr-border),
              var(--clr-border) 10px,
              transparent 10px,
              transparent 20px
            ),
            // left
            repeating-linear-gradient(
                90deg,
                var(--clr-border),
                var(--clr-border) 10px,
                transparent 10px,
                transparent 20px
              ),
            // top
            repeating-linear-gradient(
                180deg,
                var(--clr-border),
                var(--clr-border) 10px,
                transparent 10px,
                transparent 20px
              ),
            // right
            repeating-linear-gradient(
                270deg,
                var(--clr-border),
                var(--clr-border) 10px,
                transparent 10px,
                transparent 20px
              )
              // bottom
;
          border-image: repeating-linear-gradient(
            0deg,
            var(--clr-border),
            var(--clr-border) 10px,
            transparent 10px,
            transparent 20px
          );

          .person-title {
            display: flex;
            justify-content: space-evenly;
            .description {
              color: white;

              .name {
                font: bold 28px/31px FuturaEF-Bold;
              }
              .job {
                font: 20px/31px Futura;
              }
            }

            .localisation {
              color: white;
              display: flex;
              flex-direction: column-reverse;
              width: 32px;

              span {
                align-self: center;
                font: 15px/31px Futura;
              }
            }
          }
        }

        img {
          width: 100%;
        }
      }
    }
  }
}

/* Desktop styles */
@media (min-width: 1025px) {
  .header {
    .title {
      .mobile {
        display: none;
      }
    }
  }

  .content {
    .mission {
      .mission-title {
        p {
          padding-left: 32px;
        }
      }

      .mission-content {
        .mission-text {
          width: 80%;
          div::before {
            left: -35%;
          }
        }
      }
    }
  }
}

/*Tablet styles*/
@media (min-width: 700px) and (max-width: 1024px) {
  .header {
    --header-title-target-size: 6vw;
    --header-title-font-size: 8vw;

    .title {
      bottom: 150px;
      left: 10%;

      .mobile {
        display: none;
      }
    }

    .team-images {
      width: 72%;
      height: 344px;
      left: 20%;
    }
  }

  .content {
    .introduction {
      .text-border {
        .intro-text {
          font-size: 2.5vh;
        }
      }
      &::after {
        height: 80%;
      }
    }

    .mission {
      .mission-content {
        width: 73vw;
        .mission-image {
          width: 30%;
          .img-1,
          .img-2,
          .img-3 {
            &::before {
              width: 25%;
              height: 50%;
            }
            &::after {
              display: block;
              width: 12%;
              bottom: 76px;
            }
          }
        }

        .mission-text {
          width: 60%;
        }
      }
    }
    .our-team {
      .team-title {
        .title-border {
          &::before,
          &::after {
            font-size: 20em;
          }
        }

        &::after {
          left: 460px;
        }
      }
    }
  }
}

/*Mobile styles*/
@media (max-width: 699px) {
  .header {
    --header-title-target-size: 6vw;
    --header-title-font-size: 11vw;
    padding: 30px;
    display: flex;
    flex-direction: column;
    height: auto;

    .logo {
      font-size: 15px;
    }

    .title {
      order: 1;
      position: relative;
      bottom: unset;
      left: unset;
      margin-bottom: 5px;

      .desktop {
        display: none;
      }

      .title-line {
        margin-bottom: 15px;
        padding: 14px;

        &::before {
          margin: var(--header-title-line-bg-margin) 0 0
            var(--header-title-line-bg-margin);
        }
      }
    }

    .team-images {
      order: 2;
      position: relative;
      width: 100%;
      top: unset;
      left: unset;
      right: unset;
      height: 175px;

      .img1 {
        max-width: 300px;
      }

      .crop-mark {
        top: unset;
        right: unset;
        bottom: 5%;
        left: -5%;
      }
    }
  }

  .content {
    .introduction {
      line-height: 24px;
      img {
        width: 37px;
        margin-left: var(--content-intro-text-padding);
      }
      &::after {
        height: 86%;
      }
    }

    .mission {
      .mission-title {
        p {
          left: 8px;
        }
        &::before {
          right: 24px;
        }

        &::after {
          display: none;
        }
      }

      .mission-content {
        flex-direction: column;
        .mission-text {
          &::before {
            width: 18%;
          }

          .mission-text-1,
          .mission-text-2,
          .mission-text-3 {
            width: 85%;
          }
        }

        .mission-image {
          padding-top: 32px;
          .img-1,
          .img-2,
          .img-3 {
            img {
              width: 80%;
            }
            &::before {
              transform: translate(-20px);
              width: 45%;
              height: 33%;
            }

            &::after {
              height: 30%;
              width: 22%;
              bottom: -250px;
              margin-left: -26px;
            }
          }
        }
      }
    }

    .our-team {
      top: 68em;
      .team-title {
        margin-left: 10px;
        .title-border {
          &::before,
          &::after {
            font-size: 20em;
          }
        }

        img {
          height: 58px;
          width: 58px;
        }

        &::after {
          left: 365px;
        }
      }
      .team-sub-title {
        margin-left: 40px;
        width: 80%;
      }
    }
  }
}