body {
  margin: 0;
  .wrapper {
    position: relative;
    overflow-x: hidden;
    height: 100%;
    width: 100%;
  }
}

.header {
  --header-title-line-bg-shift: 8px;
  --header-title-line-bg-margin: -16px;
  --header-title-target-size: 4vw;
  --header-title-font-size: clamp(1.5rem, 4vw, 4rem);

  position: relative;
  background: center center / 100% 100% no-repeat
    url("../images/home/header/bg.svg");
  font: 700 60px Futura;
  color: white;
  height: 660px;
  padding: 24px;

  .logo {
    font-size: 30px;
    letter-spacing: normal;
    margin-bottom: 16px;
  }

  .title {
    position: absolute;
    bottom: 120px;
    left: 15%;
    font-size: var(--header-title-font-size);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 0;

    &::before {
      content: "";
      position: relative;
      background: url("../images/home/header/icon-yellow.svg") no-repeat;
      width: var(--header-title-target-size);
      height: var(--header-title-target-size);
      margin-left: calc(-1 * var(--header-title-target-size));
    }

    .title-line {
      position: relative;
      background-color: black;
      padding: 8px;

      .title-animation {
        display: inline-block;
        overflow: hidden;
        vertical-align: bottom;
      }

      .title-emphasis {
        color: #f32393;
        display: inline-block;
      }

      &::before {
        content: "";
        position: absolute;
        margin-top: var(--header-title-line-bg-margin) / 2;
        margin-left: var(--header-title-line-bg-margin) / 2;
        background-color: white;
        transform: translate(
          var(--header-title-line-bg-shift),
          var(--header-title-line-bg-shift)
        );
        width: 100%;
        height: 100%;
        z-index: -1;
      }
    }
  }

  .team-images {
    background: url("../images/home/header/dash.svg") no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top: 72px;
    width: 55%;
    height: 488px;
    left: 30%;

    .img1,
    .img2,
    .img3,
    .crop-mark {
      position: absolute;
      height: auto;
    }

    .img1 {
      width: 60%;
      max-width: 577px;
      left: 3%;
      top: 16%;
    }

    .img2 {
      width: 35%;
      right: 11%;
      top: 3%;
    }

    .img3 {
      height: 42%;
      right: 3%;
      bottom: 4%;
    }

    .crop-mark {
      top: -5%;
      right: 6%;
    }
  }

  .link {
    position: absolute;
    top: 87%;
    right: 30%;
    z-index: -1;
  }
}

.content {
  display: block;
  --content-intro-font-size: clamp(1rem, 2vw, 2rem);
  --content-intro-text-padding: 10px;
  --content-intro-border-font-size: 3em;

  --content-border-padding: 0.5em;
  --content-border-background-size: 1px 100%, 100% 1px, 1px 100%, 100% 1px;
  --content-border-background-img: repeating-linear-gradient(
    0deg,
    var(--clr-border),
    var(--clr-border) 10px,
    transparent 0px,
    transparent 17px
  );
  --clr-border: rgb(138, 135, 135);

  --content-title-font-size: clamp(1.5rem, 2.2vw, 2.2rem);
  --content-mission-text-title-font-size: clamp(1.2rem, 1.7vw, 1.7rem);
  --content-mission-text-content-font-size: clamp(1rem, 1.5vw, 1.5rem);

  .introduction {
    position: relative;
    font: 300 24px/48px Roboto, roboto, Helvetica Neue, sans-serif;
    margin: 70px auto;
    width: 70%;
    font-size: var(--content-intro-font-size);

    img {
      width: 47px;
    }

    .text-border {
      position: relative;
      padding: var(--content-intro-text-padding) 0
        var(--content-intro-text-padding) 0;

      .intro-text {
        margin: var(--content-intro-text-padding);
      }

      .focus {
        color: #f32393;
      }

      &::before,
      &::after {
        position: absolute;
        content: "";
        left: -4%;
        font-size: var(--content-intro-border-font-size);
        padding: var(--content-border-padding);
        background-size: var(--content-border-background-size);
        background-repeat: no-repeat;
        background-image: var(--content-border-background-img);
        transform: rotate(90deg);
      }
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      top: 0;
      left: -2%;
      height: 70%;
      font-size: var(--content-intro-border-font-size);
      padding: var(--content-border-padding);
      background-size: var(--content-border-background-size);
      background-repeat: no-repeat;
      background-image: var(--content-border-background-img);
    }
  }

  .mission {
    height: 60%;
    width: 100%;
    padding-top: 72px;

    .mission-title {
      background: url("../images/home/content/mission/carrés.png") no-repeat;
      background-size: 100% 45%;
      position: absolute;
      padding-right: 80px;
      margin-left: 14%;

      p {
        position: relative;
        bottom: 85px;
        font: 700 43px Futura;
        font-size: var(--content-title-font-size);
        color: #414141;
        padding-left: 8px;
        margin-top: 48px;
      }

      &::before {
        position: relative;
        content: "";
        display: inline-block;
        background-image: url("../images/home/content/mission/icon-location-arrow.png");
        background-size: 100%;
        background-repeat: no-repeat;
        width: 20%;
        height: 60px;
        right: 30px;
        top: 16px;
      }

      &::after {
        position: absolute;
        content: "";
        background-size: var(--content-border-background-size);
        background-repeat: no-repeat;
        background-image: var(--content-border-background-img);
        top: 47%;
        height: 100%;
        font-size: 96px;
        padding: 1em;
        left: -191px;
        padding: 1em;
        transform: rotate(180deg);
      }
    }

    .mission-content {
      position: relative;
      display: flex;
      top: 20%;
      left: 15%;

      .mission-text {
        width: 60%;
      }

      .mission-text-1,
      .mission-text-2,
      .mission-text-3 {
        margin: 0 0 24px 24px;

        .mission-text-title-1,
        .mission-text-title-2,
        .mission-text-title-3 {
          font: 300 32px/60px Roboto, roboto, Helvetica Neue, sans-serif;
          font-weight: 500;
          font-size: var(--content-mission-text-title-font-size);
          margin-top: 8px;
          display: block;
          color: grey;
          animation: title 15s ease infinite;
        }

        @keyframes title {
          0% {
            color: grey;
          }
          5% {
            color: black;
          }
          33% {
            color: black;
          }
          38% {
            color: grey;
          }
          100% {
            color: grey;
          }
        }
        .mission-text-title-1 {
          animation-delay: 0s;
        }
        .mission-text-title-2 {
          animation-delay: 5s;
        }
        .mission-text-title-3 {
          animation-delay: 10s;
        }

        @keyframes content {
          0% {
            height: 0;
            opacity: 0;
          }
          10% {
            height: 120px;
            visibility: visible;
            opacity: 1;
          }
          33% {
            height: 120px;
            visibility: visible;
            opacity: 1;
          }
          38% {
            height: 0;
            opacity: 0;
          }
          100% {
            height: 0;
            opacity: 0;
          }
        }

        .mission-text-content-1,
        .mission-text-content-2,
        .mission-text-content-3 {
          display: inline-block;
          font: 300 24px/32px Roboto, roboto, Helvetica Neue, sans-serif;
          font-size: var(--content-mission-text-content-font-size);
          animation: content 15s ease infinite;
        }

        .mission-text-content-1 {
          visibility: hidden;
          height: 0;
          animation-delay: 0s;
        }
        .mission-text-content-2 {
          visibility: hidden;
          height: 0;
          animation-delay: 5s;
        }
        .mission-text-content-3 {
          visibility: hidden;
          height: 0;
          animation-delay: 10s;
        }

        &::before {
          position: absolute;
          content: "";
          border-radius: 0px 10px 10px 0px;
          padding: 20px;
          width: 20%;
          left: -24%;
          margin-top: 12px;
        }
      }

      @keyframes tag {
        0% {
          width: 10%;
        }
        5% {
          width: 15%;
        }
        33% {
          width: 15%;
        }
        38% {
          width: 10%;
        }
        100% {
          width: 10%;
        }
      }

      .mission-text div::before {
        width: 10%;
        animation: tag 15s ease infinite;
      }

      .mission-text .mission-text-1::before {
        background: #56f28c;
        animation-delay: 0s;
      }
      .mission-text .mission-text-2::before {
        background: #36d4f2;
        animation-delay: 5s;
      }
      .mission-text .mission-text-3::before {
        background: #e945c1;
        animation-delay: 10s;
      }

      .mission-image {
        position: relative;
        width: 100%;
        padding-left: 10%;

        .img-2,
        .img-3 {
          visibility: hidden;
        }

        .img-1 img,
        .img-2 img,
        .img-3 img {
          position: absolute;
          width: 50%;
          height: auto;
          transform: rotate(-6deg);
        }

        .img-1::before,
        .img-2::before,
        .img-3::before {
          position: absolute;
          content: "";
          width: 32%;
          height: 60%;
          transform: translate(-24px);
        }

        .img-2::before {
          background: transparent
            linear-gradient(180deg, #259de8 0%, #36d4f2 100%) 0% 0%;
        }
        .img-1::before {
          background: transparent
            linear-gradient(180deg, #30d897 0%, #56f28c 100%) 0% 0%;
        }
        .img-3::before {
          background: transparent
            linear-gradient(180deg, #f918a1 0%, #e945c1 100%) 0% 0%;
        }

        .img-1::after,
        .img-2::after,
        .img-3::after {
          position: absolute;
          content: "";
          display: block;
          height: 25%;
          width: 10%;
          bottom: 46px;
          margin-left: -18px;
        }

        .img-1::after {
          background: url("../images/home/content/mission/icon-arrow.svg")
            no-repeat;
        }
        .img-2::after {
          background: url("../images/home/content/mission/code.svg") no-repeat;
        }
        .img-3::after {
          background: url("../images/home/content/mission/compas.svg") no-repeat;
        }
      }

      @keyframes show {
        0% {
          opacity: 0;
          visibility: hidden;
        }
        5% {
          opacity: 1;
          visibility: visible;
        }
        33% {
          opacity: 1;
          visibility: visible;
        }
        38% {
          opacity: 0;
          visibility: hidden;
        }
        100% {
          opacity: 0;
          visibility: hidden;
        }
      }
      @keyframes slider {
        0% {
          transform: translate(100%, 30%);
        }
        6% {
          transform: translate(30%, 30%);
          transform: rotate(-6deg);
        }
        15% {
          transform: translate(0%, 0%);
          transform: rotate(-6deg);
        }
        33% {
          transform: translate(0%, 0%);
          transform: rotate(-6deg);
        }
        38% {
          transform: translate(100%, 0%);
          transform: rotate(-6deg);
        }
        100% {
          transform: translateX(100%);
          transform: rotate(-6deg);
        }
      }

      .mission-image div {
        animation: show 15s ease infinite;
      }

      .mission-image div.img-1 {
        animation-delay: 0s;
      }
      .mission-image div.img-2 {
        animation-delay: 5s;
      }
      .mission-image div.img-3 {
        animation-delay: 10s;
      }

      .mission-image div img {
        animation: slider 15s ease infinite;
      }

      .mission-image div.img-1 img {
        animation-delay: 0s;
      }
      .mission-image div.img-2 img {
        animation-delay: 5s;
      }
      .mission-image div.img-3 img {
        animation-delay: 10s;
      }
    }
  }

  .our-team {
    display: block;
    background: url("../images/home/content/team/bg-black.svg");
    width: 100%;
    height: max-content;
    padding-bottom: 10%;

    .team-title {
      position: relative;
      display: flex;
      margin: 72px 0px 0px 72px;
      padding-top: 72px;

      .title-border {
        margin-left: 25px;

        .title-text {
          color: #ffffff;
          font: 700 43px/31px Futura;
          font-size: var(--content-title-font-size);
          padding: 14px 0px 14px 0px;
        }

        &::before,
        &::after {
          position: absolute;
          content: "";
          font-size: 30em;
          padding: var(--content-border-padding);
          background-size: var(--content-border-background-size);
          background-repeat: no-repeat;
          background-image: var(--content-border-background-img);
          transform: rotate(90deg);
        }
      }

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        top: 30%;
        left: 504px;
        height: 65%;
        font-size: 22px;
        padding: var(--content-border-padding);
        background-size: var(--content-border-background-size);
        background-repeat: no-repeat;
        background-image: var(--content-border-background-img);
      }
    }

    .team-sub-title {
      margin-left: 170px;
      margin-top: 32px;
      width: 70%;
      color: #ffffff;
      font: 300 24px/31px Roboto;
      font-size: clamp(1.2rem, 1.7vw, 1.7rem);
    }

    .team-presentation {
      padding: 70px 0px 70px 0px;
      display: block;

      .container {
        position: relative;
        width: 100%;
        height: 100%;
        display: block;
        overflow: hidden;
      }

      .scroll-left {
        position: absolute;
        background: url("../images/home/content/team/arrow.svg") no-repeat;
        width: 50px;
        height: 40px;
        transform: rotate(180deg);
        border: none;
        outline: inherit;
        right: 50px;
        top: 3em;
        z-index: 11;
      }

      .scroll-right {
        position: absolute;
        background: url("../images/home/content/team/arrow.svg") no-repeat;
        width: 50px;
        height: 40px;
        border: none;
        outline: inherit;
        right: 0px;
        top: 3em;
        z-index: 11;
      }

      .carousel {
        display: block;
        width: 100%;
        overflow-x: scroll;
        padding: 60px 0px 0px 100px;
        white-space: nowrap;
        padding-bottom: 32px;
      }

      .item {
        position: relative;
        display: inline-block;
        width: 300px;
        padding-left: 32px;

        .person-photo {
          .second-photo {
            position: fixed;
            left: 0;
          }
        }

        .person-icon {
          position: absolute;
          width: 30%;
          bottom: 26%;
          right: 7%;
        }

        .person-quote {
          position: absolute;
          background-color: #ffed15;
          display: none;
          width: 80%;
          height: 100px;
          bottom: 168px;
          padding: 10px;
          font: 20px/31px Roboto;
          font-size: clamp(1rem, 1.1vw, 1.1rem);
          overflow: hidden;
          text-overflow: ellipsis;
          text-align: center;
          line-height: 100px;
        }

        .quote-bg {
          background-color: #36d4f2;
        }

        .person-details {
          margin-top: 32px;
          color: white;
          opacity: 0.7;
          padding: 32px 0px 32px 0px;
          background-position: 0 0, 0 0, 100% 0, 0 100%;
          background-size: 2px 100%, 100% 2px, 2px 100%, 100% 3px;
          background-repeat: no-repeat;
          background-image: repeating-linear-gradient(
              0deg,
              var(--clr-border),
              var(--clr-border) 10px,
              transparent 10px,
              transparent 20px
            ),
            // left
            repeating-linear-gradient(
                90deg,
                var(--clr-border),
                var(--clr-border) 10px,
                transparent 10px,
                transparent 20px
              ),
            // top
            repeating-linear-gradient(
                180deg,
                var(--clr-border),
                var(--clr-border) 10px,
                transparent 10px,
                transparent 20px
              ),
            // right
            repeating-linear-gradient(
                270deg,
                var(--clr-border),
                var(--clr-border) 10px,
                transparent 10px,
                transparent 20px
              )
              // bottom
;
          border-image: repeating-linear-gradient(
            0deg,
            var(--clr-border),
            var(--clr-border) 10px,
            transparent 10px,
            transparent 20px
          );

          .person-title {
            display: flex;
            justify-content: space-evenly;
            color: white;
            .description {
              line-height: 9px;

              .name {
                display: block;
                font: 700 28px/31px Futura;
                font-size: clamp(1.1rem, 1.5vw, 1.5rem);
              }
              .job {
                display: block;
                font: 20px/31px Futura;
                font-size: clamp(0.7rem, 1vw, 1rem);
              }
            }

            .localisation {
              display: flex;
              flex-direction: column-reverse;
              width: 32px;

              span {
                align-self: center;
                font: 15px/31px Futura;
                font-size: clamp(0.6rem, 1vw, 1rem);
              }
            }
          }
        }

        img {
          width: 100%;
        }
      }

      .item:hover,
      .item:active {
        transition: 0.3s;
        padding: 0px 62px 0 62px;

        .person-photo {
          transform: rotate(5deg) scale(1.1) translateX(-5%);
          padding-bottom: 32px;
          &::after {
            bottom: -10%;
          }
        }

        .person-quote {
          display: block;
        }

        .person-icon {
          width: 20%;
          left: 0;
        }

        .person-details {
          opacity: 1;
          transform: scale(1.1);
        }
      }

      .last-item {
        margin-right: 150px;
      }
    }
  }

  .articles {
    margin-left: 14%;
    padding-top: 72px;
    width: 100%;

    .articles-title {
      background: url("../images/home/content/mission/carrés.png") no-repeat;
      background-size: 100% 45%;
      position: absolute;
      padding-right: 50px;

      p {
        position: relative;
        bottom: 85px;
        font: 700 43px Futura;
        font-size: var(--content-title-font-size);
        color: #414141;
        padding-left: 8px;
        margin-top: 48px;
      }

      &::before {
        position: relative;
        content: "";
        display: inline-block;
        background-image: url("../images/home/content/articles/pen.png");
        background-size: 100%;
        background-repeat: no-repeat;
        width: 20%;
        height: 60px;
        right: 46px;
        top: 16px;
      }
    }

    .article-list {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      justify-content: space-evenly;
      padding-top: 11em;
      margin-left: -12%;
      margin-bottom: 10%;
      width: 100%;

      .article {
        position: relative;
        width: 30%;
        cursor: pointer;
        .article-photo {
          position: relative;
          .bg {
            width: 70%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            transform: rotate(4deg) translateX(10px);
          }

          .bg-1 {
            background: red;
            background: transparent
              linear-gradient(180deg, #f5c542 0%, #fafa32 100%) 0% 0%;
          }
          .bg-2 {
            background: transparent
              linear-gradient(180deg, #f918a1 0%, #ea41be 100%) 0% 0%;
            transform: rotate(-4deg);
          }

          .bg-3 {
            background: transparent
              linear-gradient(180deg, #259de8 0%, #36d4f2 100%) 0% 0%;
          }
          .thumbnail {
            width: 75%;
            z-index: 9;
            margin: 20px;
          }
        }
      }

      .article-description {
        display: block;
        position: relative;
        top: 32px;
        padding-right: 10px;
        padding-left: 18px;

        a {
          text-decoration: none;
        }
        a:visited {
          color: black;
        }

        .chip-list {
          display: flex;
          flex-wrap: wrap;
          margin-left: -14px;

          a {
            text-decoration: none;
          }

          .chip {
            border: 0.1rem solid #ea41be;
            padding: 0 25px;
            font: 300 14px/27px Roboto;
            font-size: clamp(1rem, 1.1vw, 1.1rem);
            color: #ea41be;
            border-radius: 50px;
            margin: 0px 0px 12px 8px;
          }

          .chip:hover {
            background-color: #ea41be;
            color: white;
          }

          .chip-color {
            color: #28a9ea;
            border-color: #28a9ea;
          }

          .chip-color:hover {
            background-color: #28a9ea;
            color: white;
          }
        }

        .article-title {
          font: 500 24px/46px Roboto;
          font-size: clamp(1rem, 1.7vw, 1.7rem);
        }
        .article-text {
          font: 300 24px/30px Roboto;
          font-size: clamp(1rem, 1.3vw, 1.3rem);
        }
      }
    }
  }
}

/* Desktop styles */
@media (min-width: 1025px) {
  .header {
    .title {
      .mobile {
        display: none;
      }
    }
  }

  .content {
    .mission {
      .mission-title {
        p {
          padding-left: 32px;
        }
      }
    }
  }
}

/*Tablet styles*/
@media (min-width: 700px) and (max-width: 1024px) {
  .header {
    --header-title-target-size: 6vw;
    --header-title-font-size: 8vw;

    .title {
      bottom: 150px;
      left: 10%;

      .mobile {
        display: none;
      }
    }

    .team-images {
      width: 72%;
      height: 344px;
      left: 20%;
    }
  }

  .content {
    .introduction {
      .text-border {
        .intro-text {
          font-size: 2.5vh;
        }
      }
      &::after {
        height: 80%;
      }
    }

    .mission {
      height: 500px;
      padding-top: 32px;
      .mission-content {
        width: 73vw;
        .mission-image {
          width: 100%;
          .img-1,
          .img-2,
          .img-3 {
            img {
              width: 100%;
            }

            &::before {
              width: 50%;
              height: 50%;
            }
            &::after {
              display: block;
              width: 18%;
              bottom: 93px;
            }
          }
        }

        .mission-text {
          width: 100%;
          .mission-text-1::before,
          .mission-text-2::before,
          .mission-text-3::before {
            left: -30%;
          }
        }
      }
    }
    .our-team {
      .team-title {
        .title-border {
          &::before,
          &::after {
            font-size: 20em;
          }
        }

        &::after {
          left: 400px;
        }
      }
      .team-presentation {
        .scroll-left,
        .scroll-right {
          display: none;
        }

        .item {
          width: 280px;

          .person-details {
            padding: 16px 0px 16px 0;
          }
        }
      }
    }

    .articles {
      top: 120em;
      .articles-title {
        &::before {
          right: 30px;
        }
      }
    }
  }
}

/*Mobile styles*/
@media (max-width: 699px) {
  .header {
    --header-title-target-size: 6vw;
    --header-title-font-size: 11vw;
    padding: 30px;
    display: flex;
    flex-direction: column;
    height: auto;

    .logo {
      font-size: 15px;
    }

    .title {
      order: 1;
      position: relative;
      bottom: unset;
      left: unset;
      margin-bottom: 5px;

      .desktop {
        display: none;
      }

      .title-line {
        margin-bottom: 15px;
        padding: 14px;

        &::before {
          margin: var(--header-title-line-bg-margin) 0 0
            var(--header-title-line-bg-margin);
        }
      }
    }

    .team-images {
      order: 2;
      position: relative;
      width: 100%;
      top: unset;
      left: unset;
      right: unset;
      height: 175px;

      .img1 {
        max-width: 300px;
      }

      .crop-mark {
        top: unset;
        right: unset;
        bottom: 5%;
        left: -5%;
      }
    }
    .link {
      img {
        height: 190px;
      }
    }
  }

  .content {
    .introduction {
      line-height: 24px;
      img {
        width: 37px;
        margin-left: var(--content-intro-text-padding);
      }
      &::after {
        height: 86%;
      }
    }

    .mission {
      padding-top: 32px;
      height: 100%;

      .mission-title {
        p {
          left: 8px;
        }
        &::before {
          right: 24px;
        }

        &::after {
          display: none;
        }
      }

      .mission-content {
        top: 15%;
        flex-direction: column;
        .mission-text {
          width: 80%;
          &::before {
            width: 18%;
          }

          .mission-text-1,
          .mission-text-2,
          .mission-text-3 {
            width: 85%;
          }

          .mission-text-1::before,
          .mission-text-2::before,
          .mission-text-3::before {
            left: -26%;
          }
        }

        .mission-image {
          height: 25vh;
          .img-1,
          .img-2,
          .img-3 {
            img {
              width: 56%;
            }

            &::before {
              transform: translate(-20px);
              width: 45%;
              height: 63%;
            }

            &::after {
              height: 26%;
              width: 16%;
              bottom: 18px;
              margin-left: -15px;
            }
          }
        }
      }
    }

    .our-team {
      padding-bottom: 15%;
      .team-title {
        margin-left: 10px;
        padding-top: 48px;
        .title-border {
          &::before,
          &::after {
            font-size: 20em;
          }
        }

        img {
          height: 58px;
          width: 58px;
        }

        &::after {
          left: 385px;
        }
      }
      .team-sub-title {
        margin-left: 40px;
        width: 80%;
      }

      .team-presentation {
        padding: 23px 0px 0px 0px;
        .scroll-left,
        .scroll-right {
          display: none;
        }

        .carousel {
          padding-left: 30px;
        }

        .item {
          width: 200px;

          .person-details {
            padding-top: 16px;
            padding-bottom: 16px;

            .person-title {
              .localisation {
                img {
                  width: 80%;
                }
              }
            }
          }
        }

        .item:hover,
        .item:active {
          .person-icon {
            top: 230px;
          }

          .person-quote {
            width: 60%;
            height: 80px;
            line-height: 80px;
          }
        }

        .last-item {
          margin-right: 50px;
        }
      }
    }

    .articles {
      top: 133em;
      .articles-title {
        margin-top: 0;
        &::before {
          right: 27px;
        }
      }

      .article-list {
        margin-left: -3%;
        flex-direction: column;

        .article {
          width: 70%;
          margin-bottom: 32px;

          .article-photo {
            .thumbnail {
              width: 80%;
            }
          }

          .article-description {
            top: 0px;
            .chip-list {
              margin-top: 20px;
            }
          }
        }
      }
    }
  }
}
